.carres{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carre{
    width: 200px;
    height: 200px;
    margin: 5px; 
   
    
}

.carre5{
    display: flex;
    margin-left: 850px;
    width: 200px;
    height: 200px;
    background-color: gray;
    
    
} 

/*.carre2{
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: red;
    
}


.carre3{
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: green;
    

}

.carre4{
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: darkgoldenrod;
    
}


