*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper {
    background-image: url("statsimg.jpg");
    min-height: 1000px;
    padding-top: 400px;
    
}


.saisie {
    color: white;
    width: 400px;
    height: 400px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    margin-left: 700px;

}

input {
    height: 40px;
    width: 250px;
}

h1 {
    margin-bottom: 30px;
    font-weight: 200;
}

