*{
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: #bdbdbd;
}

h1 {
    color: white;
    justify-content: center;
    display: flex;
    font-weight: 200;
    padding-top: 200px;
    
}

p {  
    font-size: small;
   visibility: hidden;
   padding-top: 50px;
   padding-right: 20px;
}


.icones {
    display: flex;
    flex-direction: row;
   justify-content: center;
   margin-top: 50px;
   padding-bottom: 600px;
   gap: 20px;
}

.icone{
    height: 100px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
     color: white;
    text-align: center;

}

i {
    padding-left: 70px;
    font-size: 40px;
}

.transition {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

.transition p {
    visibility: visible;
}